@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f0e9;
    font-size: 16px;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;
    background-color:#BDB09E;
    position: sticky;
    top: 0;
    z-index: 999;
}

header a[href$='home.html'] img {
    height: auto;
    width: 60%;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding-right: 25px;
}

#navbar a[href$='home.html#Work'] {
    padding-right: 17px;
}

#navbar a[href$='contact.html'] {
    padding-right: 1px;
    padding: 6px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#navbar a:hover {
    font-weight: bold;
}

h1 {
    font-family: "Montserrat", sans-serif;
    padding: 2%;
    padding-top: 3%;
    padding-left: 18%;
    margin: 0;
    font-size: 2em;
}

.touch {
    padding-left: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#resume {
    height: 100%;
    width: 100%;
}

h2 {
    font-family: "Montserrat", sans-serif;
    padding: 2%;
    padding-top: 3%;
    padding-left: 18%;
    margin: 0;
    font-size: 2em;
}

.resume-file {
    text-align: center;
    border-style: none;
    height: 100%;
    width: 100%;
}

footer {
    padding-top: 2%;
}

footer hr {
    width: 85%;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2px;
    padding-bottom: 2%;
}