body {
    font-family: "Montserrat", sans-serif;
    background-color: #d0d3d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    flex-flow: row wrap;

}

.standpic {
    order: 1;
    width: 200px;
    height: 266px;
    padding: 10px;
    background: gray;
}

.home-g {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    font-size: 3em;
    text-align: center;
}

.first-g {
    order: 3;
}

.quick-g {
    order: 4;
}

.emphasis-g {
    font-weight: bold;
}