body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5e8d5;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px
}

header a[href$='home.html'] {
    background-color:aqua;
}

#navbar {
    background-color:blanchedalmond;
}

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.stand-pic {
    order: 1;
    padding: 10px;
    height: auto;
    width: 30%;
}

.home-g {
    order: 2;
    padding: 5px;
    margin-top: 10px;
    width: 580px;
    text-align: center;
}

.first-g {
    order: 3;
    font-size: 80px;
}

.quick-g {
    order: 4;
    font-size: 30px;
    font-family: "Montserrat", monospace;
}

.emphasis-g {
    font-weight: bold;
}